<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          
          <Exclude>[Transparity.Api]Transparity.Api.Controller.*</Exclude>
          <Exclude>[Transparity.Application]Transparity.Application.Healths.*</Exclude>
          <Exclude>[Transparity.Data]Transparity.Data.Configurations.*</Exclude>
          <Exclude>[Transparity.Data]Transparity.Data.Extensions.*</Exclude>
          <Exclude>[Transparity.Data]Transparity.Data.Migrations.*</Exclude>
          
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <ExcludeByFile>**/DependencyInjection.cs</ExcludeByFile>
          <ExcludeByFile>**/ApplicationDbContext.cs</ExcludeByFile>
          <ExcludeByFile>**/AppState.cs</ExcludeByFile>
          <ExcludeByFile>**/HealthException.cs</ExcludeByFile>
          
	        <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
